body {
  margin: 10%;
}

#cheat-container {
  display: flex;

  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

label {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: xxx-large;
  margin: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
  margin: 1rem;
}

input#inputValue {
  padding: 20px;
  font-size: xx-large;
}

#coordinates {
  position: fixed;
  top: 2%;
  left: 3%;
}

p {
  font-family: system-ui;
  font-weight: 700;
  font-size: small;
}

#notifier {
  position: fixed;
  right: 2%;
  top: 5%;
  font-family: system-ui;
  font-weight: 700;
  font-size: xx-large;
  color: rgb(255, 0, 0);
}
